body {
    background-color: #ADCF9F
}

hr {
    border-style: dotted none none ;
    border-color: #FFDCAE;
    border-width: 6px;
    width: 7%;

}

h1{
    color: #135435;

}

h3{
    color: #135435;
}
h4{
    color: #135435;
}